.git
.github
.gitignore

.venv
**/.venv
__pycache__
**/__pycache__
*.pyc
**/*.pyc
.pytest_cache
.mypy_cache
.ruff_cache

frontend
_quarantine_tests
docs

*.md
**/*.md

.env
*.env
backend/.env
backend/*.env
backend/API-KEY-SMS.txt
backend/deployment
backend/device_simulator.py

node_modules
**/node_modules
coverage
build
dist
